body {
	font-family: 'Forum', cursive;
}

h1 { 
	font-family: 'Play', sans-serif;		
}

h2 { 
	font-family: 'Play', sans-serif;	
	margin: 25px 0 20px 0;
	padding: 8px 12px;
	background: #d9d9ce;
}

/**
 * Code formatting
.markdown-section pre,
.markdown-section code {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }
 */
